# Ambiente virtual
.venv/
venv/

# Cache do Python
__pycache__/
*.py[cod]
*$py.class

# Arquivos de ambiente
.env

# Configurações do VS Code
.vscode/

# Arquivos do sistema
.DS_Store
Thumbs.db

# Banco SQLite (opcional)
*.db

# Logs
*.log

# Pytest
.pytest_cache/

# Ruff
.ruff_cache/

# MyPy
.mypy_cache/